/* Variables Color */
$colorBackground:#168feb;
$colorBackgroundFormulario: #9acef66e;
$colorBackgroundGrid: #ffffff;
$colorBotones: #168feb;
$colorSeparador: #0288D1;
$colorTitulos: #0f6ab1;
$color-A-Visited-Strong: #045c9c;
$colorHover: #0288D1;

/* Variables fuentes */
$fuentePrincipal:'Source Sans Pro', sans-serif;

/* Mixins */
@mixin separadorGrid {
	background-color: $colorSeparador;
	height: 5px;
} 

/* Contenido Layout y Grid*/

.bodyPantallaPrincipal{
	background-color: $colorBackground;
}

.separadorGrid{
	@include separadorGrid;
}

.separadorGri2{
	@include separadorGrid;
}
.separadorGri3{
	@include separadorGrid;
	margin-bottom: 5px;
}

/* Contenido Grid*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.3fr 5px 0.5fr 1fr;
    gap: 0px 0px;
    background-color: $colorBackgroundGrid;
    margin-top: 0px;
}
.separadorGrid2{
	grid-area: 4 / 1 / 4 / 5 ;
	background-color: $colorSeparador;
}	
.secPrincipal { 
    grid-area: 1 / 1 / 4 / 5;
    margin-top: 0px;
}
.imagenSecPrincipal { 
    grid-area: 1 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
}
.dimensionImagen{
    width:100%;
    height: 100%;
}
.dimensionImagen2{
    width:100%
}
.parrafoP{
    margin-bottom: 3rem;
}
.parrafoP2{
    margin-bottom: 2.5rem;
}
.h1 { 
    grid-area: 1 / 3 / 2 / 5;
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;
    color:$colorTitulos;
    font-size: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.textoPrincipal {
    grid-area: 2 / 3 / 3 / 5; font-family:'Source Sans Pro', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.botonServicios {
    grid-area: 3 / 3 / 4 / 5;
    margin-top: 0%;
    padding-top: 0%;
	text-align: center;
	margin: 0px;
	button {
		align-self: center;
        margin-top: 10px;
        margin-bottom: 25px;
    		a{
		color: white;
			}
		}
}
.secSecundaria{ 
    grid-area: 5 / 1 / 8 / 5;
    padding-top: 0%;
    margin-top: 0%;
}
.imagenSecPrincipal2{
	margin-top: 0%;
	grid-area: 5 / 3 / 8 / 5;
	background-image: url(../assets/imagenes/imagenPantallaInicialsass.jpg);
	background-size: cover;
	margin-bottom: 0px;
}
.h2{ grid-area: 5 / 1 / 6 / 3; 
	font-family: 'Source Sans Pro', sans-serif;
	text-align:center;
	color: $colorTitulos;
	font-size: 120%;
	margin-top: auto;
	margin-bottom: auto;
}
.textoSecundario { 
	grid-area: 6 / 1 / 7 / 3;
	font-family:'Source Sans Pro', sans-serif;
	text-align: center;
	margin-bottom: auto;
}
.botonNosotros{
	grid-area: 7 / 1 / 8 / 3;
		button a{
			color: white;
		}
	}
.imagenNosotros2022{
    background-image: url(../assets/imagenes/imagennosotrosjsd3.jpg);
    background-size: cover;
    height:670px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1.5%;
}
.col-4{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 4rem;
    padding-left: 0;
}

/*Final Contenido Grid*/

/*Header*/

header{
    background-image: linear-gradient(to right, #c5e3fa, #badef9, #b0d9f8, #a5d3f7, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6); 
    height:120px ;
}
.me-2{
    height: 30%;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
}
.btn-primary{
    margin-top: auto;
    margin-bottom: auto;
	background-color: $colorBotones;
}
.ms-auto{
    word-spacing: 20px
}
.btn-primary{
    margin-top: auto;
    margin-bottom: auto;
}
button{
    background-color: $colorBotones;
    margin: 5px; 
    font-family:'Source Sans Pro', sans-serif ;
    margin-top: 25px; 
    text-decoration: none;
    border-radius: 10%;
}
nav ul li {
    list-style-type:none; 
    margin: 0px; padding: 0px ; 
    display: inline-block;
    font-family:'Source Sans Pro', sans-serif; 
    font-size: 130%;
}
nav a:hover{
    color:$colorSeparador;
    transform: scale(1.15);
    transition: 1.5s;
}
.nav-item:hover{
    transform: scale(1.20);
    transition: 1.5s;
}
.nav-item{padding-left: 10px;
	padding-right: 10px;
		a{
			color:$color-A-Visited-Strong
		}
}
.navbar-expand-lg{
    background-image: linear-gradient(to right, #c5e3fa, #badef9, #b0d9f8, #a5d3f7, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6);
}
nav{position: relative;
    z-index: 2;
}
/*Final Header*/

/* media querys*/
@media screen and (max-width: 576px){
	.grid-container{
		display: flex;
		flex-direction: column;
	}
	.secSecundaria{
		display: flex;
		flex-direction: column;
	}
	.imagenSecPrincipal2{
		height: 260px;
	}
	.separadorSec2{
		height: 5px;
	}
    h1{
        font-size: calc(1.325rem + .9vw);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2{
        margin-top: 10px;
        margin-bottom: 10px;
    }
	.loguito{
        height: auto;
		margin-top: auto;
	}
    .parrafoP{
        margin-bottom: 0px;
    }
    .separadorGrid2{
        height: 5px;
    }
    .separadorSec2{
        display: none;
    }
	.rowcontainernosotros{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .imagenNosotros2022 img{
	// 	width: 350px;
	// }
    .ulFooter{
        padding-left: 0;
    }
/*Servicios*/
#myCarousel{
    font-size: 0.8rem;
}
.título{
    height: 3.5rem;
}
h2{
    margin-bottom: 0px;
    padding-top: 0.55rem;
}
.separadorSass{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media screen and (max-width: 373px){
    .título{
        height: 4rem;
    }
    h2{
        margin-bottom: 0px;
        padding-top: 0.7rem;
    }
}
@media screen and (max-width: 333px){
    .separadorSass{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
} 
/*Nosotros*/
@media screen and (max-width: 987px){
    .rowcontainernosotros{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .col-8{
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .col-4{
        width:auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 10px;
        padding-left: 10px;
    }
    h1{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .parrafoP{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .parrafoP2{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
@media screen and (max-width: 1199px){
    .rowcontainernosotros{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .col-8{
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
    }
    .col-4{
        width:auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media screen and (max-width: 991px){
    .col-8{
        height: 360px;
    }
@media screen and (max-width: 463px){
    .col-8{
        height: 260px;
    }
}
@media screen and (max-width: 355px){
    .col-8{
        height: 200px;
    }
}
@media screen and (max-width: 290px){
    .col-8{
        display: none;
    }
}
.nav-item:hover{
transform: scale(1.005);
transition: 1s;
}
}

/* Contacto */
@media screen and (min-width: 768px){
    .separadorSass{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .separadorSass2{
        padding-top: 2rem;
    }
    .h2Contacto{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    footer{
        height:160px;
    }
}

/* Final Media Querys*/

/* Inicio Contenido General*/
.botonNosotros{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 18px;
		button{
			align-self: center;
			margin-top: 0px;
			margin-bottom: 25px;
		}
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    text-align:center;
    color: $colorTitulos;
    margin-top: 15px;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: $colorTitulos;
    margin-top: 10px;
}
h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: $colorTitulos;
    font-size: 1.5rem;
}
.g-3{
    margin: 10px;
}
form{
    background-color: $colorBackgroundFormulario;
    padding-bottom: 10px;
}
a{
    text-decoration-line: none; 
    text-decoration: none;
}
a:visited{
    color: $color-A-Visited-Strong;
}
h5 a:visited{
    color: white;
}
strong{
    color:$color-A-Visited-Strong;
}

/* Final Contenido General */

/* Inicio Contenido por página */

/* servicios */

.alert{
    display: none;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.514);   
}

.separadorSec2{ 
    background-color: $colorSeparador;
    height: 5px;
    grid-column: 5;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.container-lg{
    position: relative;
    z-index: 1;
}
/* final servicios */

/* inicio nosotros */

/* final nosotros */
.separadorGrid3{
    @include separadorGrid;
    margin-bottom: 10px;
}
form{
    position: relative;
    z-index: 1;
}
/* inicio contacto */

/* final contacto */

/* Inicio Blog*/

.containerBlog{
    margin-left: 10px;
    margin-right: 10px;
}

iframe{
    width: min-content;
}
@media screen and (max-width: 768px){
	iframe{
        margin-left: 7rem;
        margin-right: 7rem;
	}
    h3{
        margin-left: 7rem;
        margin-right: 7rem;
}
}
@media screen and (max-width: 540px){
	iframe{
        margin-left: 5rem;
        margin-right: 5rem;
	}
    h3{
        margin-left: 5rem;
        margin-right: 5rem;
}

}
@media screen and (max-width: 480px){
	iframe{
        margin-left: 3rem;
        margin-right: 3rem;
	}
    h3{
        margin-left: 3rem;
        margin-right: 3rem;
}

}
@media screen and (max-width: 420px){
	iframe{
        margin-left: auto;
        margin-right: auto;
	}
    h3{
        margin-left: auto;
        margin-right: auto;
}
}
@media screen and (max-width: 1399px){
.separadorSass{
    display: none;
}
.h2Título{
    height: 250px;
}
}
@media screen and (min-width: 1399px){
    .h2Título{
        height: 50px;
    }    
}    


/* Final Blog*/ 

/* INICIO FOOTER Y JS */
footer{
    background-image: linear-gradient(to right, #c5e3fa, #badef9, #b0d9f8, #a5d3f7, #9acef6, #91c9f5, #87c5f5, #7dc0f4, #73bbf3, #68b6f2, #5cb0f1, #50abf0); 
    height: 120px;
	text-align: center;
	ul li{
		list-style-type:none; margin: 0px; 
		padding: 0px ; 
		display: inline-block;
		font-family:'Source Sans Pro', sans-serif;
		font-size: 100%;}
        .devVer{
            padding-top: 16px;
        }
	}
    @media screen and (max-width: 373px){
        footer{
            height: 160px;
        }
    }
    @media screen and (min-width: 768px){
        footer{
            height:160px;
        }
    }
    @media screen and (min-width: 1399px){
        footer{
            height:290px;
        }    
    }    
.botonUp{
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.botonUp img{
    width: 50px;
}
.botonUp2{
    position: fixed;
    bottom: 5px;
    left: 5px;
    transform: none;
    transition: none;
}
.botonUp2 img{
    width: 50px;
}
/* FINAL FOOTER Y JS */

