body{background-color: #0288D1;}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.4fr 0.1fr 0.5fr 1.6fr;
    gap: 0px 0px;
    background-color: #ffffff;
    margin-top: 0px;
    }
    .secPrincipal { 
        grid-area: 1 / 1 / 4 / 5;
        margin-top: 0px;
    }
    .imagenSecPrincipal { 
        grid-area: 1 / 1 / 4 / 3;
        display: flex;
        justify-content: center;
    }
    .dimensionImagen{
        width:100%;
        height: 100%;

        }
    .dimensionImagen2{
        width:100%
        }
    .h1 { 
        grid-area: 1 / 3 / 2 / 5;
        font-family: 'Source Sans Pro', sans-serif;
        text-align:center;
        color: #0f6ab1;
        font-size: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .textoPrincipal {
        grid-area: 2 / 3 / 3 / 5; font-family:'Source Sans Pro', sans-serif;
        text-align: center;

    }
    .botonServicios {
        grid-area: 3 / 3 / 4 / 5;
        margin-top: 0%;
        padding-top: 0%;
    }
    .botonServicios button a{color: white;}
    .separadorSec { 
        grid-area: 4 / 1 / 5 / 5;
        background-color: #0288D1;
        height: 40%;
        padding-bottom: 0%;
        margin-bottom: 0%;
    }
    .secSecundaria { 
        grid-area: 5 / 1 / 8 / 5;
        padding-top: 0%;
        margin-top: 0%;
    
    }
    .imagenSecPrincipal2{
        margin-top: 0%;
        grid-area: 5 / 3 / 8 / 5;
        background-image: url(../assets/imagenes/imagenPantallaInicial2\ 3.jpg);
        background-size: cover;
        margin-bottom: 0px;
    } 
    .h2{ grid-area: 5 / 1 / 6 / 3; 
        font-family: 'Source Sans Pro', sans-serif;
        text-align:center;
        color: #0f6ab1;
        font-size: 120%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .textoSecundario { 
        grid-area: 6 / 1 / 7 / 3;
        font-family:'Source Sans Pro', sans-serif;
        text-align: center;
        margin-bottom: auto;

    }
    .botonNosotros { 
        grid-area: 7 / 1 / 8 / 3;
    }
    .botonNosotros button a{
        color: white;
        margin-top: auto;
        margin-bottom: auto;
    }

    .imagenSecPrincipal { 
        grid-area: 1 / 1 / 4 / 3;
        display: flex;
        justify-content: center;
    }
    .secContacto { 
        grid-area: 9 / 1 / 11 / 5; }
    .h3 { 
        grid-area: 9 / 1 / 10 / 3; }
    .botonContacto { 
        grid-area: 9 / 3 / 10 / 5; }
    .logosRedes { 
        grid-area: 10 / 1 / 11 / 5; }
    .secFalsoFooter { 
        grid-area: 11 / 1 / 12 / 5; }
    .loguito{
        margin-top: 60px;

    }

/* Inicio Header y Barra de Navegación */
header{
    background-image: linear-gradient(to right, #c5e3fa, #badef9, #b0d9f8, #a5d3f7, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6, #9acef6); 
    height:120px ;
    }

.me-2{
    height: 30%;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
}

.btn-primary{
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-nav{
    justify-items: end;
}

nav ul li {
    list-style-type:none; 
    margin: 0px; padding: 0px ; 
    display: inline-block;
    font-family:'Source Sans Pro', sans-serif; 
    font-size: 130%;}

.ms-auto{
    word-spacing: 20px}


nav a:hover{
    color:#0288D1;
    transform: scale(1.15);
    transition: 1.5s;
}
a:hover{
    color:#0f6ab1;
}

.btn-primary{
    background-color: #168feb;
}

button{
    background-color: #168feb;
    margin: 5px; 
    font-family:'Source Sans Pro', sans-serif ;
    margin-top: 25px; 
    text-decoration: none;
    border-radius: 10%;

}
a{
    text-decoration-line: none; 
    text-decoration: none;}

a:visited{
    color: #045c9c;
}

strong{
    color: #045c9c;}

.navResponsive{
    display: none;
}

.nav-item{
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item a{
    color: #045c9c;
}


/* media querys Nav - Header */

/* @media screen and (max-width: 576px) {
    main {
        display: flex;
        flex-direction: column;
        }} */

    /* .barraNavegadora{
        display: none;

    }
    .nav a img{display: none;}
    .navResponsive{
        display: block;
        background-color: #a5d3f7;
        position: absolute;
    }
    header{
        display: none;
    }
    .serviciosSección1{
        height: 1%;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.6fr 0.6fr;}
} */


/* Final Header y Barra de Navegación */

/* Inicio Contenido General*/
.botonServicios{
    text-align: center;
    margin: 0px;
}
.botonNosotros{
    text-align: center;
    display: flex;
    justify-content: center;
}

.botonNosotros button{
    align-self: center;
}

/* Final Contenido General */

/* Inicio Contenido por página */
/* servicios */



#fotoServicios{
    border-color: #168feb;
    border-radius: 50px;
    padding: 0;
    border-width: thick;
    border-style: solid;
    margin: 5px;}

.separadorSec2{ 
    background-color: #0288D1;
    height: 20px;
    grid-column: 5;
    padding-bottom: 0%;
    margin-bottom: 0%;}

footer{
    background-image: linear-gradient(to right, #c5e3fa, #badef9, #b0d9f8, #a5d3f7, #9acef6, #91c9f5, #87c5f5, #7dc0f4, #73bbf3, #68b6f2, #5cb0f1, #50abf0); 
    height: 120px; 
}
footer{
    text-align: center;}

footer ul li {
    list-style-type:none; margin: 0px; 
    padding: 0px ; 
    display: inline-block;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 100%;}

.botonUp{
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.botonUp img{
    width: 50px;
}